body {
  text-align: center;
  background-color: #f7f7f7;
}
.app {
  text-align: center;
  padding: 40px;
  margin: 5%;
  border-top: #fee715ff;
  border-left: #fee715ff;
  border-right: #101820ff;
  border-bottom: #101820ff;
  border-style: solid;
  border-radius: 15px;
  border-width: 5px;
  /*   
  border-color: #a0cfee;
  border-color: #fcc6e5; */
}
