body {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.app {
  justify-self: center;
  text-align: center;
  width: 90vw;
  margin-top: 50px;
  padding: 40px;

  border-top: #fcc6e5;
  border-left: #fcc6e5;
  border-right: #a0cfee;
  border-bottom: #a0cfee;
  border-style: solid;
  border-radius: 15px;
  border-width: 5px;
  /*   
  border-color: #a0cfee;
  border-color: #fcc6e5; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
