.BeeImage {
  height: 100px;
  width: auto;
}

.welcome-container {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 2rem;
  font-family: "Abril Fatface", cursive;
}

@media (min-width: 768px) {
  .welcome-container {
    font-size: 3rem;
  }

  .BeeImage {
    height: 150px;
    width: auto;
  }
}

@media (min-width: 1200px) {
  .welcome-container {
    font-size: 5rem;
  }

  .BeeImage {
    height: 300px;
    width: auto;
  }
}
